.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.3rem;
    border: 2px solid rgba(0, 0, 0,0.5);
    & img{
        width: 15vh;
        border-radius: 50%;
    }
    & h2{
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
    & a{
        font-size: 1.3rem;
        text-decoration: none;
        background-color: #333;
        color: #eee;
        padding: 0.4rem 1rem;
        border-radius: 0.3rem;
        box-shadow: 1px 3px 4px rgb(0, 0, 0,0.3);
    }
}